@import '/src/utils/constants.scss';

.formList {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  width: min-content;
  gap: 5px;
  padding: 10px;
  
  input{
   border: 2px solid $secondaryColor;
   border-radius: $radius;
    }
button {
  padding: 0px;
  margin: 2px;
}
}

.noneList {
  display: none;
}

.newList{
  .formList > input{
    border: 2px solid $secondaryColor;
  }
  
}