.wrapperLogin{
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 20vh;

    button{
        position: relative;
        margin-top: 20px;
    }
}
.registration-link{
    left: 0;
    right: 0;
}