@import '../../../../utils/constants.scss';


.list {
  color: #04024e;
  border: 2px solid;
  border-radius: $radius;
  border-color: $secondaryColor;
  text-align: center;
  margin: $retreat;
  padding-right: $retreat;
  padding-left: $retreat;
  padding-bottom: $retreat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include backraund(#27ae6030);


  button {
  
    width: 80px;
    margin: 5px;
  }
}
.newList {
  button {
    width: 75px;
  }
}
.titleList {
  margin: 5px auto;
}
.listItems {
  text-align: left;
  margin: $retreat;
  overflow-y: auto; //scroll - allways
  scroll-behavior: smooth;
  height: 150px;
  min-width: 80px;
  max-width: 180px;
  div {
    /*border: 1px $secondaryColor solid;*/
    border-radius: $radius;
    margin: 2px;
    padding: 2px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div{
      max-width: 66%;
      white-space: pre-wrap;
      overflow: hidden;
    }
   }
   .noActive, .newActive {
    background-color: gray;
    height: 4ex;    
  }
  
  .drag{
    opacity: 50%;
  }

  span {
    cursor: pointer;
  }
}


.buttonsList {
  display: flex;
}
