@import '../../utils/constants.scss';

/*$primaryColor: #d680c47d;
$retreat: 10px;
$radius: 10px;*/
html, body{
  height: 100%;
}
body {
  color: black;
  background-image: url('../../fon.jpg');
//  background: linear-gradient(to bottom right, blue, #d7dce5) no-repeat;
  // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}
.wrapper{
  text-align: center;
}
nav, nav div {
  padding: $retreat;
  display: flex;
  gap: $retreat;
  justify-content: space-between;
  align-items: center;
}
.wrapperBoard {
  border: 2px solid;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 20px 5px;
  padding: 10px;
  max-width: 1170px;
}
.header {
  position: relative;

  button {
    margin-top: 0px;
    position: absolute;
    float: left;
    left: $retreat;
  }
}

button {
  background-color: $primaryColor;
  color: black;
  border-radius: $radius;
  width: 150px;
  height: 40px;
}

.lists {
  display: flex;
  flex-wrap: nowrap;
  
  overflow-y: auto; 
  scroll-behavior: smooth;

}

ul {
  text-align: left;
  color: green;
}

.listButton {
  margin:5px;
}

.title {
  p,
  input {
    margin: 16px auto;
    //align-items: center;
  }
}

div.wrapper{
  border-radius: $radius;
    border: $secondaryColor 2px solid;
    margin: 5px;
    padding: 5px;
}

input[type="color"]{
  width: 40px;
  height: 40px;
  border: 10px;
}