@mixin board() {
  margin: 10px;
  border: 2px double wheat;
  padding: 10px;
  border-radius: 5px;
  max-height: 150px;
}

.board {
  @include board();
  cursor: pointer;
  overflow: auto;
  scroll-behavior: auto;
}

.newBoard {
  @include board();
  display: flex;
  flex-direction: column;
}

.boardList {
  :nth-child(1) {
    text-align: left;
    width: 150px;
    height: 50px;
    font-weight: normal;
    font-size: initial;
    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }

  button {
    @include board();
  }
}
