.formBoard {
  position: relative;
  display: flex;
  flex-direction: column;
  button {
    padding: 0px;
    margin: 0px;
    align-items: center;  }
}

.noneBoard {
  display: none;
}

.newBoard {
  width: 33%;
  position: absolute;
  left: 180px;
  background-color: rgb(235 208 235);
}
span{
  display: block;
  text-align: right;
  margin: 5px 0px;
}