@import '../../../../utils/constants.scss';

.formBoard {
  position: relative;
  display: flex;
  flex-direction: column;
  button {
    padding: 0px;
    margin: 0px;
    align-items: center;  }

  input {
    margin: 0px 5px;
    outline: none;
   }
}

.noneBoard {
  display: none;
}

.newBoard {
  width: 33%;
  max-width: 250px;
  position: absolute;
  left: 180px;
  background-color: $backgroundColorModal;
  padding: 24px;
  
}
span{
  display: block;
  text-align: right;
  margin: 5px 0px;
}